#search-bar{style: "padding-top: 10px"}
  %form.search{:method=>"get", style: "margin-left: 10px"}
    %input{:type=>"text", :id=>"query", :name=>"s[name]"}
    .aoq-wrapper
      .aoq
    %button.search-button
      %div
        = image_tag "search_white.png"
  #advanced
    %a.close-button
    = form_for :s, :method => "get" do |f|
      .simple-search
        %label
          Prénoms
        = f.text_field :names
        %label
          Nom
        = f.text_field :surname
        %label
          Contact
        = f.text_field :telephone
        %label
          Date de Naissance
        = f.text_field :dob
      %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
        %div
          = image_tag "search_white.png"
    .clear