= content_for :title, "Beneficiary Search"

= content_for :search do
  #search-bar
    .wrapper
      .clear
      %form.search{:method=>"get"}
        %h1
          Beneficiaries
        %input{:type=>"text", :id=>"query", :name=>"s[name]"}
        .aoq-wrapper
          .aoq
        %button.search-button
          %div
            = image_tag "search_white.png"
      #advanced
        %a.close-button
        = form_for :s, :method => "get" do |f|
          .simple-search
            %label
              Names
            = f.text_field :names
            %label
              Surname
            = f.text_field :surname
            %label
              Telephone
            = f.text_field :telephone
            %label
              Date of Birth
            = f.text_field :dob
          %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
            %div
              = image_tag "search_white.png"
        .clear

.block
  .block_content
    #portlets
      .portlet
        .portlet-content.nopadding
          %table
            %thead
              %tr
                %th Policy Number
                %th Policy Holder
                %th Full Name
                %th Date of Birth
                %th Telephone
                %th Relationship
                %th Date Added
            %tbody
              - for beneficiary in @beneficiaries
                %tr
                  %td
                    = link_to beneficiary.policy.id, policy_path(beneficiary.policy)
                  %td
                    = link_to beneficiary.policy.policy_holder.names + " " + beneficiary.policy.policy_holder.surname, policy_holder_path(beneficiary.policy.policy_holder)
                  %td
                    = link_to beneficiary.names + " " + beneficiary.surname, policy_path(beneficiary.policy) + "/beneficiaries"
                  %td= beneficiary.dob.strftime("%Y-%m-%d")
                  %td= beneficiary.telephone
                  %td= beneficiary.relationship
                  %td= beneficiary.created_at.strftime("%Y-%m-%d")
          .clear
          #pagination-wrapper
            = will_paginate @policies, :params => @params, :outer_window => 1, :inner_window => 1, :class => "paggination"
            %span#pagination-counter
              = page_entries_info(@policies)
            .clear
:javascript
  $(function() {
    new App.Views.BeneficiarySearch({el: "#search-bar"});
  })