= content_for :title, "Policy Details"

= content_for :search do
  = render :partial => "search"

.block
  .block_content
    #portlets
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0"}
        .portlet-content.nopadding
          %h2
            - if @policy_holder.names.blank? && @policy_holder.surname.blank?
              Nouveau Assuré
            - else
              = @policy_holder.names + " " + @policy_holder.surname
          %br
          %ul#tabs.tabs
            %li.active.available= link_to "Profile", "#"
            %li.available= link_to "Informations Générales", "/products/#{@policy_holder.id}"
            %li= link_to "Bénéficiaires", "/beneficiaries/#{@policy_holder.id}"
            %li= link_to "Remarques", "/comments/#{@policy_holder.id}"
          #details.tab
            = form_for @policy_holder,:url => "/policy_holders/#{@policy_holder.id}", :method => :put do |f|
              %div.details{style: "float: left; width: 400px"}
                .entry
                  %label Prénoms
                  = f.text_field :names
                .entry
                  %label Nom
                  = f.text_field :surname
                .entry
                  %label Date de Naissance
                  = f.text_field :dob, :class => "date_picker", :value => (@policy_holder.dob.blank? ? "" : @policy_holder.dob.strftime("%Y-%m-%d"))
                .entry
                  %label Nationalité
                  = f.text_field :nationality
                .entry
                  %label Sexe
                  = f.enum_select :gender
                .entry
                  %label Rents property
                  = f.check_box :rents_property
                .entry
                  %label Owns property
                  = f.check_box :owns_property
                .entry
                  %label Does money transfers
                  = f.check_box :uses_money_transfers
              %div.address{style: "float: left; width: 400px; margin-left: 40px"}
                .entry
                  %label Adresse
                  = f.text_field :address
                .entry
                  %label Ville
                  = f.text_field :city
                .entry
                  %label Code Postale
                  = f.text_field :postcode
                .entry
                  %label Téléphone Domicile
                  = f.text_field :home_phone
                .entry
                  %label Téléphone Mobile
                  = f.text_field :mobile_phone
                .entry
                  %label Addresse Electronique
                  = f.text_field :email
              .clear
              - if flash[:message] && flash[:message_type] == :errors
                .errors
                  = flash[:message].join(", ")
              - if flash[:message] && flash[:message_type] == :notifications
                .notifications
                  = flash[:message].join(", ")
              .actions
                %button.blue-button
                  %div{style: "width: 120px"}
                    Sauvegarder

:javascript
  $(function() {
    $(".date_picker").datepicker({dateFormat: 'yy-mm-dd'});
    $('#other_insurance_products .save').tipsy({gravity: 'w'});
    $('#other_insurance_products .remove').tipsy({gravity: 'e'});
    new App.Views.InsuranceProductEditor({el: "#other_insurance_products", policy_holder_id: #{@policy_holder.id}});
  })