= content_for :title, "Policy Search"

= content_for :search do
  =render :partial => "search"

.block
  .block_content
    #portlets
      .portlet
        .portlet-content.nopadding
          %table
            %thead
              %tr
                %th ID
                %th Full Name
                %th Postcode
                %th City
                %th # Beneficiaries
                %th # Policies
                %th Date Added
                %th{style: "width: 100px"}
            %tbody
              - for policy_holder in @policy_holders
                %tr
                  %td
                    = policy_holder.id
                  %td
                    = link_to policy_holder.names + " " + policy_holder.surname, edit_policy_holder_path(policy_holder)
                  %td= policy_holder.address ? policy_holder.postcode : ""
                  %td= policy_holder.address ? policy_holder.city : ""
                  %td
                    = policy_holder.beneficiaries.count
                  %td
                    = policy_holder.policies.count
                  %td= policy_holder.created_at.strftime("%Y-%m-%d")
                  %td
                    %button.gray-button
                      %div
                        New Policy
          .clear
          #pagination-wrapper
            = will_paginate @policies, :params => @params, :outer_window => 1, :inner_window => 1, :class => "paggination"
            %span#pagination-counter
              = page_entries_info(@policies)
            .clear
:javascript
  $(function() {
    new App.Views.PolicyHolderSearch({el: "#search-bar"});
  })