= content_for :title, "Policy Search"

.block
  .block_content
    #portlets
      %span{style: "float: right; margin-right: 30px"}
        = image_tag "logo.png", style: "width: 50px"
      .clear
      .portlet
        .portlet-content.nopadding
          %div
            = render :partial => "search"
          %table
            %thead
              %tr
                %th Nom et Prénoms
                %th Code Postal
                %th Ville
                %th # Bénéficiaires
                %th Statut
                %th Date de Demande
                %th{style: "width: 100px"}
            %tbody
              - for policy_holder in @policy_holders
                %tr
                  %td
                    = link_to policy_holder.names + " " + policy_holder.surname, edit_policy_holder_path(policy_holder)
                  %td= policy_holder.address ? policy_holder.postcode : ""
                  %td= policy_holder.address ? policy_holder.city : ""
                  %td= policy_holder.beneficiaries.count
                  %td= policy_holder.enums(:status).label(policy_holder.status)
                  %td= policy_holder.created_at.strftime("%Y-%m-%d")
                  %td
                    %form{action: "/policy_holders/#{policy_holder.id}/toggle", method: "post"}
                      %button.gray-button
                        %div
                          - if policy_holder.blocked?
                            Débloquer
                          - else
                            Bloquer
          .clear
          #pagination-wrapper
            = will_paginate @policies, :params => @params, :outer_window => 1, :inner_window => 1, :class => "paggination"
            %span#pagination-counter
              = page_entries_info(@policies)
            .clear
:javascript
  $(function() {
    new App.Views.Search({el: "#search-bar"});
  })