= content_for :title, "Policy Details"

.block
  .block_content
    #portlets
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0"}
        .portlet-content.nopadding
          = form_for @policy_holder,:url => "/policy_holders", :method => :post do |f|
            - if flash[:message] && flash[:message_type] == :errors
              .alert-error.alert
                = flash[:message].join(", ")
            - if flash[:message] && flash[:message_type] == :notifications
              .alert-info.alert
                = flash[:message].join(", ")
            = render :partial => "policy_holder", :locals => {f: f}
            = render :partial => "policy", :locals => {f: f}
            = render :partial => "beneficiaries", :locals => {f: f}
            = render :partial => "products", :locals => {f: f}
            = render :partial => "comments", :locals => {f: f}
            .actions
              %button.blue-button
                %div{style: "width: 120px"}
                  Sauvegarder

:javascript
  $(function() {
    $(".date_picker").datepicker({dateFormat: 'yy-mm-dd'});
    new App.Views.ProductEditor({el: "#products"});
    new App.Views.BeneficiaryEditor({el: "#beneficiaries"});
  })