= content_for :title, "Remarques"

= content_for :search do
  = render :partial => "policy_holders/search"

.block
  .block_content
    #portlets
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0"}
        .portlet-content.nopadding
          %h2
            = @policy_holder.names + " " + @policy_holder.surname
          %br
          %ul#tabs.tabs
            %li.available= link_to "Profile", "/policy_holders/#{@policy_holder.id}"
            %li.available= link_to "Informations Générales", "/products/#{@policy_holder.id}"
            %li= link_to "Bénéficiaires", "/beneficiaries/#{@policy_holder.id}"
            %li.active= link_to "Remarques", "#"
          #comments.tab
            %textarea