#search-bar
  .wrapper
    .clear
    %form.search{:method=>"get"}
      %h1
        Users
      %input{:type=>"text", :id=>"query", :name=>"s[name]"}
      .aoq-wrapper
        .aoq
      %button.search-button
        %div
          = image_tag "search_white.png"
    %form.new{:method=>"get", :action => "/users/new"}
      %button.red-button
        %div
          New user
    #advanced
      %a.close-button
      = form_for :s, :method => "get" do |f|
        .simple-search
          %label
            Login
          = f.text_field :name
          %label
            Email
          = f.text_field :street_name
          %label
            Role
          = f.text_field :street_name
          %label
            Status
          = f.text_field :street_name
        %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
          %div
            = image_tag "search_white.png"
      .clear
