#search-bar
  %form.search{:method=>"get"}
    %input{:type=>"text", :id=>"query", :name=>"s[name]"}
    .aoq-wrapper
      .aoq
    %button.search-button
      %div
        = image_tag "search_white.png"
  %form.new{:method=>"get", :action => "/users/new"}
    %button.red-button
      %div
        New user
  #advanced
    %a.close-button
    = form_for :s, :method => "get" do |f|
      .simple-search
        %label
          Nom d'utilisateur
        = f.text_field :login
        %label
          Adresse Electronique
        = f.text_field :email
        %label
          Role
        = select_tag "s_role", options_for_select([""] + User.new.enums(:role).select_options), :name => "s[role]"
        %label
          Statut
        = select_tag "s_status", options_for_select([""] + User.new.enums(:status).select_options), :name => "s[status]"
      %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
        %div
          = image_tag "search_white.png"
    .clear
