!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title SCA INTER A - Login
    = stylesheet_link_tag "application", :debug => Rails.env.development?
  %body
    #hld
      .wrapper{:style=>"padding-top: 150px"}
        .block.small.center.login{:style=>"background-color: white; width: 570px; background-image: none; border: 1px solid #ccc; margin-top: 0"}
          = form_for @user_session do |f|
            %div{:style=>"float: left; width: 100px; height: 45px"}
              = image_tag "logo.png"
            %div{:style=>"float: left; width: 455px"}
              - if f.object.errors.any?
                %ul
                  - f.object.errors.full_messages.each do |msg|
                    %li.error_message= msg
              %div{:style=>"float: left; width: 200px"}
                = f.label :login
                = f.text_field :login, :class => "text", :style=>"width: 170px"
              %div{:style=>"float: left; width: 200px"}
                = f.label :password
                = f.password_field :password, :class => "text", :style=>"width: 170px"
              = f.submit "Login", :class => "submit"
          .clear
          %br

:css
  .error_message {color: red}
  .submit {float: left; margin-top: 17px}
  .block.login img {margin-left: 3px; width: 70px; margin-top: -4px}