%div.details{style: "float: left; width: 400px"}
  %div
    %label Title
    = @policy.user.login
  %div
    %label First Name
    = @policy.user.login
  %div
    %label Middle Names
    = @policy.user.login
  %div
    %label Last Name
    = @policy.user.login
  %div
    %label Date of Birth
    = @policy.user.login

%div.address{style: "float: left; width: 400px"}
  %div
    %label Address Line 1
    = @policy.user.login
  %div
    %label Address Line 2
    = @policy.user.login
  %div
    %label Postal Town
    = @policy.user.login
  %div
    %label County
    = @policy.user.login
  %div
    %label Postcode
    = @policy.user.login
.clear
%button.gray-button{style: "margin-left: -5px; margin-top: 10px"}
  %div{style: "width: 95px"}
    Edit Beneficiary
%button.gray-button{style: "margin-left: 5px; margin-top: 10px"}
  %div{style: "width: 125px"}
    Remove Beneficiary
.clear{style: "margin-bottom: 20px"}
%div.details{style: "float: left; width: 400px"}
  %div
    %label Title
    = @policy.user.login
  %div
    %label First Name
    = @policy.user.login
  %div
    %label Middle Names
    = @policy.user.login
  %div
    %label Last Name
    = @policy.user.login
  %div
    %label Date of Birth
    = @policy.user.login

%div.address{style: "float: left; width: 400px"}
  %div
    %label Address Line 1
    = @policy.user.login
  %div
    %label Address Line 2
    = @policy.user.login
  %div
    %label Postal Town
    = @policy.user.login
  %div
    %label County
    = @policy.user.login
  %div
    %label Postcode
    = @policy.user.login
.clear
%button.gray-button{style: "margin-left: -5px; margin-top: 10px"}
  %div{style: "width: 95px"}
    Edit Beneficiary
%button.gray-button{style: "margin-left: 5px; margin-top: 10px"}
  %div{style: "width: 125px"}
    Remove Beneficiary
.clear