!!! XML
!!!
%html
  %head
    %title= "SCA INTER A - #{h yield(:title)}"
    = csrf_meta_tag
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = yield :javascripts
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    #hld
      .wrapper
        .menu
          %ul#nav
            %li
              = image_tag "wallet_icon&24w.png"
              = link_to "Calculatrice", calculator_path
            %li
              = image_tag "user_icon&24w.png"
              = link_to "Assurés", policy_holders_path
            %li
              = image_tag "users_icon&24w.png"
              = link_to "Bénéficiaires", beneficiaries_path
            - if @current_user.role == :administrator
              %li
                = image_tag "wrench_icon&24w.png"
                = link_to "Utilisateurs", users_path
          %p.user
            = link_to "Logout", user_sessions_path, :method => :delete, :confirm => "Are you sure you want to logout?"
        #page
          = yield
          #footer
            %p
              Powered by
              = link_to "Codeifier Labs", "#"
        .clear
      .clear
