!!! XML
!!!
%html
  %head
    %title= "SCA INTER A - #{h yield(:title)}"
    = csrf_meta_tag
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = yield :javascripts
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    #hld
      #header
        .wrapper
          %h1= link_to "SCA INTER A", policies_path
          %ul#nav
            %li
              = link_to "Calculator", calculator_path
            %li
              = link_to "Policies", policies_path
            %li
              = link_to "Policy Holders", policy_holders_path
            %li
              = link_to "Beneficiaries", beneficiaries_path
            %li
              = link_to "Users", users_path
          %p.user
            = link_to @current_user.login, "#"
            |
            = link_to "Logout", user_sessions_path, :method => :delete, :confirm => "Are you sure you want to logout?"
      = yield :search
      .wrapper
        = yield
        #footer
          %p.left
            = link_to "SCA INTER A", "http://www.sca-intera.net"
          %p.right
            Powered by
            = link_to "Codeifier Labs", "#"