#search-bar
  .wrapper
    .clear
    %form.search{:method=>"get"}
      %h1
        Policies
      %input{:type=>"text", :id=>"query", :name=>"s[name]"}
      .aoq-wrapper
        .aoq
      %button.search-button
        %div
          = image_tag "search_white.png"
    %form.new{:method=>"get", :action => "/policies/new"}
      %button.red-button
        %div
          New policy
    #advanced
      %a.close-button
      = form_for :s, :method => "get" do |f|
        .simple-search
          %label
            Policy Number
          = f.text_field :policy_number
          %label
            Policy Holder Surname
          = f.text_field :policy_holder_surname
          %label
            Agent
          = f.text_field :agent
          %label
            Type
          = select_tag "category", options_for_select([""] + Policy.new.enums(:category).select_options), :name => "s[category]"
          %label
            Status
          = select_tag "s_status", options_for_select([""] + Policy.new.enums(:status).select_options), :name => "s[status]"
          %label
            Added After
          = f.text_field :added_after
          %label
            Added Before
          = f.text_field :added_before
        %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
          %div
            = image_tag "search_white.png"
      .clear
