#search-bar
  .wrapper
    .clear
    %form.search{:method=>"get"}
      %h1
        Policies
      %input{:type=>"text", :id=>"query", :name=>"s[name]"}
      .aoq-wrapper
        .aoq
      %button.search-button
        %div
          = image_tag "search_white.png"
    %form.new-location{:method=>"get", :action => "/policies/new"}
      %button.red-button
        %div
          New policy
    #advanced
      %a.close-button
      = form_for :s, :method => "get" do |f|
        .simple-search
          %label
            Policy Number
          = f.text_field :number
          %label
            Policy Holder
          = f.text_field :policy_holder
          %label
            Agent
          = f.text_field :user
          %label
            Type
          = f.text_field :user
          %label
            Status
          = f.text_field :user
          %label
            Added After
          = f.text_field :user
          %label
            Added Before
          = f.text_field :user
        %button.search-button{:style=>"margin-top: 15px; margin-left: -3px"}
          %div
            = image_tag "search_white.png"
      .clear
