= content_for :title, "Policy Comments"

= content_for :search do
  =render :partial => "search"

.block
  .block_content
    #portlets
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0"}
        .portlet-content.nopadding
          %h2
            = "Policy ##{@policy.id}"
          %br
          %ul#tabs.tabs
            %li.available= link_to "Policy", policy_path(@policy)
            %li.available= link_to "Policy Holder", policy_holder_path(@policy)
            %li= link_to "Beneficiaries", policy_beneficiaries_path(@policy)
            %li.active= link_to "Comments", policy_comments_path(@policy)
          = form_for @comment, :url => "/policies/#{@policy.id}/comments", :method => :post do |f|
            #comments.tab
              %ul.comments
                - @policy.comments.each do |comment|
                  - if comment.comment
                    %li
                      .authorship
                        = comment.created_at.strftime("%Y-%m-%d")
                        %b
                          = comment.user.login
                      .comment
                        = comment.comment
              = f.text_area :comment
              .actions
                %button.blue-button
                  %div{style: "width: 150px"}
                    Add comment

:css
  #comments ul.comments li {margin-bottom: 5px}
  #comments textarea {margin-top: 10px}