= content_for :title, "Policy Search"

= content_for :search do
  =render :partial => "search"

.block
  .block_content
    #portlets
      .portlet
        .portlet-content.nopadding
          %table
            %thead
              %tr
                %th #
                %th Policy Holder
                %th Type
                %th Status
                %th Agent
                %th Date Added
            %tbody
              - for policy in @policies
                %tr
                  %td
                    = link_to policy.id, policy_path(policy)
                  %td
                    = link_to policy.policy_holder.names + " " + policy.policy_holder.surname, policy_holder_path(policy)
                  %td= policy.enums(:category).label(policy.category)
                  %td= policy.enums(:status).label(policy.status)
                  %td= policy.user.login
                  %td= policy.created_at.strftime("%Y-%m-%d")
            .clear
          #pagination-wrapper
            = will_paginate @policies, :params => @params, :outer_window => 1, :inner_window => 1, :class => "paggination"
            %span#pagination-counter
              = page_entries_info(@policies)
            .clear

:javascript
  $(function() {
    new App.Views.PolicySearch({el: "#search-bar"});
  })