= content_for :title, "Policy Details"

= content_for :search do
  =render :partial => "search"

.block
  .block_content
    #portlets
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0"}
        .portlet-content.nopadding
          %h2
            = "Policy ##{@policy.policy_number}"
          %br
          %ul#tabs.tabs
            %li.available.active= link_to "Policy", "#policy"
            %li.available= link_to "Policy Holder", policy_holder_path(@policy)
            %li= link_to "Beneficiaries", policy_beneficiaries_path(@policy)
            %li= link_to "Comments", policy_comments_path(@policy)
          #policy.tab
            = form_for @policy do |f|
              .entry
                %label Agent
                = @policy.user.login
              .entry
                %label Date Created
                = Time.now.ago(rand(1000000000)).strftime("%Y-%m-%d")
              .entry
                %label Status
                = f.select(:status, ["Active", "Blocked"])
              .entry
                %label Type
                = f.select(:status, ["General - Senior", "Premium - Senior", "General - Adult", "Premium - Adult"])
              .actions
                %button.blue-button
                  %div{style: "width: 150px"}
                    Save changes

