= content_for :title, "Policy Details"

= content_for :search do
  =render :partial => "search"

.block
  .block_content
    #portlets
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0"}
        .portlet-content.nopadding
          %h2
            = "Policy ##{@policy.id}"
          %br
          %ul#tabs.tabs
            %li.available.active= link_to "Policy", "#policy"
            %li.available= link_to "Policy Holder", policy_holder_path(@policy)
            %li= link_to "Beneficiaries", policy_beneficiaries_path(@policy)
            %li= link_to "Comments", policy_comments_path(@policy)
          #policy.tab
            = form_for @policy do |f|
              .entry
                %label Agent
                = @policy.user.login
              .entry
                %label Date Created
                = @policy.created_at.strftime("%Y-%m-%d")
              .entry
                %label Status
                = f.enum_select :status, {}, {:style => "width: 100px"}
              .entry
                %label Type
                = f.enum_select :category, {}, {:style => "width: 280px"}
              .actions
                %button.blue-button
                  %div{style: "width: 150px"}
                    Save changes

